.home-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.home-page #title {
    margin-top: 80px;
    height: 30px;
    grid-column: 2;
}

.home-pic {
    grid-column: 2;
    margin-top: 70px;
}

.home-quote {
    margin-top: 60px;
    grid-column: 2;
}

.home-bio {
    grid-column: 2;
    margin-top: 100px;
}